<html>

<body>

<div style=" height: 100%; position: relative;">
    <div style="border-bottom: solid 1px black; height: 95px;">
        <div style="float: left">
            <img style="float: left" src="{{ img }}" height="85" width="170"/>
        </div>

        <div style="margin-left: 190px;">
            <div style="position:relative;">
                <div>
                    <h3 style="margin:0px;">INFORME DE VISITA REALIZADA</h3>
                </div>
                <div style="float: left;  text-align:left; font-size: 13px; margin-top:15px;">
                    <label><strong>Sistema: </strong> </label> [{{ system }} ]
                    <br>
                    <label><strong>Cliente: </strong> </label> [{{ client }}]
                    <br >
                    <label> <strong>Direcci&oacute;n: </strong> </label> [{{ address }} ]
                </div>
                <div style="float: right;  text-align:left; font-size: 13px; margin-top:15px;">
                    <label><strong>Fecha de realizaci&oacute;n: </strong> </label> {{ executedDate }}
                    <br>
                    <label><strong>Hora de inicio: </strong> </label> {{ startHour }}
                    <br >
                    <label> <strong>Hora de fin: </strong> </label>{{ endHour }}
                </div>
            </div>
        </div>
    </div>
    <div style="border-bottom: solid 1px black;">
        <div style="margin-bottom: 5px;">
            <label> <strong>Reponsable: </strong>[{{ mainPerson }} ]</label>
        </div>
        <div style="margin-bottom: 5px;"    >
            <label> <strong>Involucrados: </strong>[{{ otherPeople }} ]</label>
        </div>
    </div>
    <div>
        <h2>Observaciones </h2>
        <p>{{ obs }}</p>
    </div>
    <div>
        <h2>Informe </h2>
        <p>{{ description }}</p>
    </div>
</div>

</body>


</html>